<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		{% if courselist %}
			<div id="course_list">
			<h1>My Courses</h1>
				<form name="course_dl_form" action="/listchapters" method="POST">
					{% for c in courselist %}
						<input type="checkbox" name="courses[]" value={{loop.index0}}>{{c.name}}<br/>
					{% endfor %}
					<input type="submit">
				</form>
			</div>
		{% endif %}

		{% if chapterlist %}
			<div id="chapter_list">
				<form name="chapter_dl_form" action="/download" method="POST">
					{% for item,value in chapterlist.items() %}
						{% set chaps = value %}
						{% if chaps|length >1 %}
							{% set firstchap =  chaps[0] %}
							<h1>{{firstchap[0]|string}}</h1>
							{% set currchap =  firstchap[3] %}
							<h3>{{firstchap[0]| string}} -- {{currchap| string}}</h3>
							{% for chap in chaps %}
								{% set currchap2 = chap[3] %}
								{% if currchap2 != currchap %}
									{% set currchap = currchap2 %}
									<h3>{{chap[0]| string}} -- {{currchap| string}}</h3>
								{% endif %}
							<input type="checkbox" name="chapters[]" value='{{chap}}'>{{chap[4]|safe| string}}<br/>
								
							{% endfor %}
						{% endif %}
					{% endfor %}
					<input type="submit">
				</form>
			</div>
		{% endif %}

	</body>
</html>